<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/footer.css}" />
</head>
<body>
    <footer th:fragment= "footer">
        <div class="text-center">
            <p style="margin: 0; font-size: 0.9rem; color: #ddd;">© 2025 Arogya Policy. All rights reserved.</p>
            <div class="social-icons mt-2">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
