<!-- navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" th:fragment= "navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/policy}">Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/schemes}">Schemes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/aboutus}">About Us</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                            <span th:text="${user}">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/user/claims}">My Claims</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/my-policies}">My Policies</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/update}">Update</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/deactivate-confirmation}">Delete User account</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
